* {
    box-sizing: border-box;
}


.contact-header
{
    font-size: 52px;
    width: 100%;
}
.profile
{
    height: auto;
    width: 40vh;
    margin-top: 0;
    margin-right: 0;
    border-radius: 50%;
}
.left2 > p
{
    background: rgba(184, 176, 167, 0.5);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left2 a
{
  color: #000;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



@media (min-width: 1023px) {

.contact-header
{
    font-size: 52px;
    width: 100%;
}
.profile
{
    width: auto;
    height: 60vh;
    margin-top: 0;
    margin-right: 10vh;
}
}