.experience
{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);

    flex-direction: column;
    
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #fff;
    position: relative;

    background-attachment: fixed;
    
    
    overflow: hidden;
}

.exp-title
{
  transform: rotate(10deg);
  min-width: 100%;
  height: 35px;
  text-align: center;
  margin-top: 22.5vw;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1.5px;
  margin-bottom: 45px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  animation-name: moveexp;
  animation-duration: 2s;
  font-family: 'Indie Flower', cursive;
  z-index: 10;
  color: #000;
}
@keyframes moveexp {
    from {right: 100%;}
    to {right: 0vh;}
  }

.box-exp
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.box-exp .param
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    font-size: 18.5px;
    font-weight: 800;
    font-family: 'Mali', cursive;
    text-align: justify;
    background: rgba(184, 176, 167, 0.5);
    padding: 15px;
}

.box-exp-1
{
    min-height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('./pexels-shonejai-1227497.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.left-exp-1
{
    
    width: 100%;
    min-height: 50vh;
}

.exp-article
{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;

}
.exp-article img
{
    float: left;
    width: 35%;
    
}
.exp-article span
{
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

.course-icon
{
    position: absolute;
    top: 15px;
    right: 15px;
}
.course-icon:hover
{
    transition: all 0.5s ease-in;
    transform: rotate(-10deg);
}

.box-project4
{
    background-image: url('./pexels-shonejai-1227497.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-montreal
{
    background-image: url('./pexels-nancy-bourque-2120024.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-foodlife
{
    background-image: url('./pexels-sebastian-coman-photography-3606800.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-shootergame
{
    background-image: url('./pexels-pixabay-262488.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


@media (min-width: 1023px) {

.experience
{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);

    flex-direction: column;
    
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #fff;
    position: relative;

    background-attachment: fixed;
    
    overflow: hidden;
    overflow-y: auto;
}

.exp-title
{
  transform: rotate(0deg);
  min-width: 100%;
  height: 35px;
  text-align: center;
  margin-top: 5.5vw;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 1.5px;
  margin-bottom: 45px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  animation-name: moveexp2;
  animation-duration: 2s;
  font-family: 'Indie Flower', cursive;
  color: #fff;
  cursor: default;
}
@keyframes moveexp2 {
    from {right: 50%}
    to {right: 5.5vh}
  }

.box-exp
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.box-exp .param
{
    width: 100%;
    display: flow-root;
    padding-top: 30px;
    font-size: 18.5px;
    font-weight: 800;
    font-family: 'Mali', cursive;
    text-align: justify;
}

.box-exp .background-content
{
    width: 55%;
}

.project-image
{
    max-height: 45vh;
    margin-right: 15px;
    margin-bottom: 7.5px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.box-exp-1
{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.box-project4
{
    background-image: url('./pexels-shonejai-1227497.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-montreal
{
    background-image: url('./pexels-nancy-bourque-2120024.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-foodlife
{
    background-image: url('./pexels-sebastian-coman-photography-3606800.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box-shootergame
{
    background-image: url('./pexels-pixabay-262488.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.left-exp-1
{
    
    width: 100%;
    min-height: 50vh;
    position: relative;
    
}

.exp-article
{
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  padding-left: calc(7.5vw + 75px);

}
.exp-article img
{
    float: left;
    width: 35%;
    border-radius: 25px;
    
}
.exp-article span
{
    float: left;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
}